In [2]:
#引入pandas
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [3]:
#对行或者列索引进行排序(按照字典排序),可以使用sort_index
obj = Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int32

In [5]:
#对于DataFrame,可以根据任意一个轴上的索引进行排序
frame = DataFrame(np.arange(8).reshape((2,4)),index = ['three','one'],columns = ['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [6]:
frame.sort_index()#行索引排序

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
frame.sort_index(axis = 1)#列索引排序

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [9]:
#默认是升序排序，可以指定降序排序
frame.sort_index(axis = 1,ascending = False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [12]:
#按照值对Series排序，使用order
obj = Series([4,7,-3,2])
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [16]:
obj.sort_values()
#书上的order不对好像

2   -3
3    2
0    4
1    7
dtype: int64

In [17]:
obj.sort_values(ascending = False)

1    7
0    4
3    2
2   -3
dtype: int64

In [23]:
#排序的时候，任何缺失值默认都会被放到Series的末尾
obj = Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [24]:
#DataFrame上，可以希望根据一个或者多个列中的值排序。将一个或者多个列的名字传递给by选项就可以达到目的
frame = DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [25]:
frame.sort_index(by = 'b')

d:\users\阿苏\appdata\local\programs\python\python35-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7