In [22]:
#引入pandas
from pandas import Series,DataFrame
import pandas as pd
import numpy as np

In [5]:
obj = Series([4,7,-5,3])#简单创建，没有指定索引，索引默认从0开始
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [9]:
print(obj.values)

[ 4  7 -5  3]

In [10]:
print(obj.index)

RangeIndex(start=0, stop=4, step=1)

In [16]:
#指定索引创建
obj2 = Series([4,7,-5,3],index = ['d','b','a','c'])
obj

d    4
b    7
a   -5
c    3
dtype: int64

In [17]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [18]:
#通过索引的方式选取Series中的单个或者一组值
obj2['a']

-5

In [19]:
obj2[obj>2]

d    4
b    7
c    3
dtype: int64

In [20]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

In [23]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [24]:
'b' in obj2

True

In [25]:
'e' in obj2

False

In [33]:
sdata = {'ohio':3500,'Texas':71000,'Oregon':1111}
sdata2 = {'ohio':3400,'Texas':71000,'Oregon':1111}
obj3 = Series([sdata,sdata2])
obj3[1]['ohio']

3400